# Data comprehension
Practice working with list comprehension, dictionary comprehension and set comprehension following Lec 11

**Ques 1:**
You are given the list below, make column 0(the words) the key for a dictionary with the values as the rest of the list.

```
list_pos = [
    ['drawer', 141, 2, 3],
    ['hedge', 213, 1, 6],
    ['pantry', 328, 1, 7]
]

list_pos

# You output should be:

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

```

Requirement: Do both traditional loops and list comprehensions.

In [7]:
#postion of a word in a dictionary
list_pos = [
    ['drawer', 141, 2, 3],
    ['hedge', 213, 1, 6],
    ['pantry', 328, 1, 7]
]

list_pos



#traditional loop

word_in_dict = {}

for i in list_pos:
    key = i[0]
    values = i[1:]
    word_in_dict[key] = values

word_in_dict

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

In [8]:
# Solution | list comprehensions
word_in_dict = {i[0]: i[1:] for i in list_pos}
word_in_dict

{'drawer': [141, 2, 3], 'hedge': [213, 1, 6], 'pantry': [328, 1, 7]}

**Ques 2:** You are given the dictionary below, combine the keys(the words) and the values inside the dictionary and create a list.

You output should be:



```
dictionary_pos = {
    'drawer': [141, 2, 3],
    'hedge': [213, 1, 6],
    'pantry': [328, 1, 7]
}

dictionary_pos

# Your output should:

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]
```

Requirement: Do both traditional loops and list comprehensions.

In [10]:
#Your turn:
#postion of a word in a dictionary
dictionary_pos = {
    'drawer': [141, 2, 3],
    'hedge': [213, 1, 6],
    'pantry': [328, 1, 7]
}

dictionary_pos


lists = []

for key, value in dictionary_pos.items():
    lists.append([key] + value)

lists

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]

In [11]:
# Solution
lists = [[key] + value for key, value in dictionary_pos.items()]
lists

[['drawer', 141, 2, 3], ['hedge', 213, 1, 6], ['pantry', 328, 1, 7]]

**Ques 3:** Use list comprehension to rewrite the code, it can be done in one line (and you do not even need an if statement)

```
result = []
myList = list(range(0, 13))
for i in range(6, len(myList)):
    if i%2 == 0:
        result.append(i)

result
```

In [12]:
#Your Code:
myList = list(range(0, 13))
result = [i for i in range(6, len(myList)) if i%2 == 0]
result

[6, 8, 10, 12]

**Ques 4a:** Use the following code to perform the tasks given below:



```
set_a = {1, 2, 3, "a", "b", "c"}
set_b = {2, 3, 4, "c", "d"}
set_c = {2, 3, 'd', "t", "a"}
```

In [33]:
# The follow code is supposed to return the different elements in both sets of union_ab and set_a but not both of them.
set_a = {1, 2, 3, "a", "b", "c"}
set_b = {2, 3, 4, "c", "d"}
set_c = {2, 3, 'd', "t", "a"}

union_ab = set_a | set_b
result = union_ab ^ set_a
print(result)

t =  set_c - union_ab

d = set_c - set_a


#print(result)

{4, 'd'}

In [35]:
# Elements that occur just in set c and not in set a

d = set_c - set_a
print(d)

{'t', 'd'}

**Ques 4b:** This piece of code will work the same as which of the following options:


```
difference_A = []
for a in set_c:
  if(not(a in set_a)):
    difference_A.append(a)

print(difference_A)
```

In [36]:
difference_A = []
for a in set_c:
  if(not(a in set_a)):
    difference_A.append(a)

print(difference_A)

['t', 'd']

In [42]:
#Rewrite the code:

#A) difference = union_ab | set_a

#B) difference = set_a - union_ab

#C) difference = union_ab ^ set_a
 # none of it is true, it should be:
difference = set_c - set_a
difference

{'d', 't'}

**Ques 5:** A procedural function called GC_content(data).
Find the GC percentage for each of the elements in dna_list.
data is the list, dna_list.

In [48]:
dna_list = ['GAAGTC', 'CGATATGC', 'GTCA', 'CGGACAGTAG']

In [60]:
# Function to calculate GC content
def GC_content(data):
    gc_dict = {}

    for sequence in data:
        gc_count = sequence.count('G') + sequence.count('C')
        total_length = len(sequence)
        gc_percentage = (gc_count / total_length) * 100
        gc_dict[sequence] = gc_percentage

    return gc_dict

# Given DNA list
dna_list = ['GAAGTC', 'CGATATGC', 'GTCA', 'CGGACAGTAG']

# Get GC content results
gc_results = GC_content(dna_list)

# Print results in the required format
for seq, gc_value in gc_results.items():
    print(f"{seq}: {gc_value:.1f}")

GAAGTC: 50.0
CGATATGC: 50.0
GTCA: 50.0
CGGACAGTAG: 60.0